/* History.css */
.history-container {
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .history-container h2 {
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .history-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .history-container li {
    font-size: 1.2rem;
    margin: 10px 0;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .history-container button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    
  }